@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');
@import "../scss/modules/hero.scss";
@import "../scss/modules/skills.scss";
@import "../scss/modules/projects.scss";
@import "../scss/modules/contact.scss";

html {
  box-sizing: border-box;
  font-size: 11px;
  scroll-behavior: smooth;

  @media (max-width: $mobile) {
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $big-stone;
  background: $violet;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  border: 16px solid $big-stone;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $mobile) {
    border: none;
  }

}

.container {
  max-width: 1216px;
  padding: 0 16px;
  margin: 0 auto;

}

.white-icon {
  filter: brightness(0) invert(1);
}